<div class="card-footer text-center">
  <small><p>Don't have an account yet? <a href="/signup">Sign-up</a> for one today!</p></small>
  <small><p><a href="/recover_account">Recover forgotted account credentials?</a></p></small>
  <small><p class="m-0">Don't need to recover forgotten credentials? <a href="/login">Login</a> to your account now!</p></small>
</div>