<nav id="main-navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top sticky-top navbar-bottom-blue-border mb-4">

  <a class="navbar-brand" href="/"><img src="media/images/photogether_logo_transparent.png" class="img-fluid" id="navbar_logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-item-inline my-1">
        <a class="nav-link pt-2 pb-0 mb-1" href="/contact">Contact</a>
        <img class="nav-item-inline px-1" src="media/icons/mail.png">
      </li>
      <li class="nav-item nav-item-inline my-1">
        <a class="nav-link pt-2 pb-0 mb-1" href="/login">Login</a>
        <img class="nav-item-inline px-1" src="media/icons/user.png">
      </li>
      <li class="nav-item nav-item-inline my-1">
        <a class="nav-link pt-2 pb-0 mb-1" href="/signup">Sign-up</a>
        <img class="nav-item-inline px-1" src="media/icons/user_add.png">
      </li>
      <li class="nav-item nav-item-inline my-1">
        <a class="nav-link pt-2 pb-0 mb-1" href="/explore">Explore</a>
        <img class="nav-item-inline px-1" src="media/icons/magnifying_glass.png">
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-item-inline my-1">
          <img class="nav-item-inline px-1" src="media/icons/user_circle.png">
          <a class="nav-link pt-2 pb-0 mb-1" href="/contact">Profile</a>
        </li>
      </ul>
    </form>
  </div>
</nav>