{{!-- 1 --}}
<div class="d-flex flex-row justify-content-end">
  <a href="/profiles/<username>" class="top-prof-name"><h4 class="pr-3 mt-2 text-light">Tina Martinez</h4></a>
  <img src="media/sample_headshots/user_4.png" class="img-fluid top-prof-headshot">
</div>
<div class="d-flex flex-row justify-content-end py-1">
  <h5 class="text-blue pr-2">4.9</h5>
  <img src="media/images/5_star.png" class="img-fluid top-prof-stars">
</div>


{{!-- 2 --}}
<div class="d-flex flex-row justify-content-start">
  <img src="media/sample_headshots/user_1.png" class="img-fluid top-prof-headshot">
  <a href="/profiles/<username>" class="top-prof-name"><h4 class="pl-3 mt-2 text-light">John Smith</h4></a>
</div>
<div class="d-flex flex-row justify-content-start py-1">
  <img src="media/images/5_star.png" class="img-fluid top-prof-stars">
  <h5 class="text-blue pl-2">4.7</h5>
</div>


{{!-- 3 --}}
<div class="d-flex flex-row justify-content-end">
  <a href="/profiles/<username>" class="top-prof-name"><h4 class="pr-3 mt-2 text-light">Gloria Summers</h4></a>
  <img src="media/sample_headshots/user_2.png" class="img-fluid top-prof-headshot">
</div>
<div class="d-flex flex-row justify-content-end py-1">
  <h5 class="text-blue pr-2">4.4</h5>
  <img src="media/images/4_star.png" class="img-fluid top-prof-stars">
</div>


{{!-- 4 --}}
<div class="d-flex flex-row justify-content-start">
  <img src="media/sample_headshots/user_3.png" class="img-fluid top-prof-headshot">
  <a href="/profiles/<username>" class="top-prof-name"><h4 class="pl-3 mt-2 text-light">Tyler Ying</h4></a>
</div>
<div class="d-flex flex-row justify-content-start py-1">
  <img src="media/images/4_star.png" class="img-fluid top-prof-stars">
  <h5 class="text-blue pl-2">3.9</h5>
</div>