<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Photogether</title>
  
  {{!-- CSS Resources --}}
  <link rel="stylesheet" href="css/bootstrap-css-4.5.0.min.css">
  <link href="css/style.css" rel="stylesheet">

  {{!-- JavaScript Resources --}}
  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="js/bootstrap-js-4.5.0.min.js"></script>
  {{> favicon}}
</head>

<body id="index_body" class="bg-dark">
  <div class="container-md blue-side-border">
    {{> navbar}}

    
    <div class="d-flex flex-row justify-content-center">
      <div class="col-lg-10">
        <div class="card bg-light">
          <div class="card-body">

            <div class="card-header mb-4">
              <h1 class="text-blue">Contact Us:</h1>
              <h2 class="text-dark">We would <strong>LOVE</strong> to hear from you!</h2>
            </div>

            <div class="d-flex flex-row justify-content-center">
              <h4 class="text-blue mb-2 mt-0">{{msg}}</h4>
            </div>

            <form method="POST" action="send_contact_email">
              <div class="form-group py-3">
                <input type="text" class="form-control form-control-md" name="f_name" placeholder="First Name">
              </div>
              <div class="form-group py-3">
                <input type="text" class="form-control form-control-md" name="l_name" placeholder="Last Name">
              </div>
              <div class="form-group py-3">
                <input type="email" class="form-control form-control-md" name="email" placeholder="Email">
              </div>
              <div class="form-group py-3">
                <input type="text" class="form-control form-control-md" name="phone" placeholder="Phone Number">
              </div>
              <p class="full py-3">
                <textarea type="text" class="form-control form-control-md" name="message" rows="5" placeholder="Message"></textarea>
              </p>
              <input id="submit" type="submit" value="Send" class="btn btn-dark btn-outline-light btn-block">
            </form>

          </div>

          {{> form_card_footer}}

        </div>
      </div>
    </div>

    {{> footer}}
  </div>
</body>
</html>