<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Photogether</title>

  {{!-- CSS Resources --}}
  <link rel="stylesheet" href="css/bootstrap-css-4.5.0.min.css">
  <link href="css/style.css" rel="stylesheet">

  {{!-- JavaScript Resources --}}
  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="js/bootstrap-js-4.5.0.min.js"></script>
  
  {{> favicon}}
</head>

<body id="index_body" class="bg-dark">
  <div class="container-md blue-side-border">
    {{> navbar}}

    <img src="media/images/index_banner.jpg" class="img-fluid">

    <div class="row mx-2">
      <div class="col-md-8">
        <h1 class="text-blue mt-4">About Us:</h1>

        <p class="text-light text-justify">
          Photogether® represents a community of photographers and videographers that are dedicated to giving you the best experience for any gathering. Whether you are hosting a wedding, a party, or just want to re-live the special moments in your loved one's life with high quality media, Photogether® is the place for you.
          <br><br>
          Choose a photographer or videographer that is right for you. You can <a href="/explore" class="text-blue">explore</a> highly rated, local, professional profiles, read their biographies, view their ratings and reviews, see some of their best work, and even privately message them, all in one place.
          <br><br>
          If you have questions about how to get the most out of your experience, here at Photogether®, please visit our <a href="/contact" class="text-blue">contact</a> page and a representative will get back with you as soon as possible. Or email us directly at <a href="mailto:photogether@gmail.com" class="text-blue">photogether@gmail.com</a> We pride ourselves in providing the best product for everyone involved.
          <br><br>
          <a href="/signup" class="text-blue">Sign-up</a> to be a customer or professional today!
        </p>
      </div>

      <div class="col-md-4">
        <h1 class="text-blue mt-4">Top Professionals:</h1>

        {{> top_professionals}}

      </div>
    </div>

    {{> footer}}

  </div>
</body>
</html>